copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CompilerIdC/a.out
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CompilerIdC/CMakeCCompilerId.c
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CompilerIdCXX/a.out
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CMakeCCompiler.cmake
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CMakeCXXCompiler.cmake
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CMakeDetermineCompilerABI_C.bin
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CMakeDetermineCompilerABI_CXX.bin
copy_buffer/_ide/_build/CMakeFiles/3.21.0-rc1/CMakeSystem.cmake
copy_buffer/_ide/_build/CMakeFiles/cmake.check_cache
copy_buffer/_ide/_build/CMakeFiles/CMakeOutput.log
copy_buffer/_ide/_build/CMakeCache.txt
copy_buffer/_ide/.theia/launch.json
copy_buffer/_ide/hw/xrt.ini
copy_buffer/_ide/hw_emu/xrt.ini
copy_buffer/_ide/sw_emu/xrt.ini
